<div class="my-3 relative height-full">
    <div class="mx-2 mt-5 pt-5" style="width: 250px;">
        <div class=" question-card mx-0 flex border border-gray-300 align-items-center justify-content-around mb-3 p-2">
            <span style="font-size: 40px;" class="pi pi-minus-circle cursor-pointer" 
             (click)="pressMinus('mtr')"></span>
            <div class="flex justify-content-between align-items-center">
                <span>
                    <span class="bg-white px-2" style="font-size: 32px;">{{question?.meters}}</span>
                </span>
                <span class="ml-2">mtr</span>
            </div>
            <span class="pi pi-plus-circle cursor-pointer" (click)="pressPlus('mtr')" style="font-size: 40px;"></span>
        </div>
        <div class=" question-card mx-0 flex align-items-center justify-content-around p-2">
            <span style="font-size: 40px;" class="pi pi-minus-circle cursor-pointer"  (click)="pressMinus('cms')"></span>
            <div class="flex justify-content-between align-items-center">
                <span>
                    <span class="bg-white px-2" style="font-size: 32px;">{{question?.centimeter}}</span>
                </span>
                <span class="ml-2">cms</span>
            </div>
            <span class="pi pi-plus-circle cursor-pointer" (click)="pressPlus('cms')" style="font-size: 40px;"></span>
        </div>
    </div>
    <div class="text-sm absolute" style="bottom: 20px;" >
        <p class="text-gray-600 text-sm">
            Click here to know how to measure the shelve space.
        </p>
    </div>
</div>