<div class="my-3 relative height-full">
    <div class=" mt-3 pt-3 mx-auto" style="width: 250px;">
        <div class=" question-card mx-0 flex mb-2 border border-gray-300 align-items-center justify-content-around p-2">
            <span style="font-size: 40px;" class="pi pi-minus-circle cursor-pointer" 
             (click)="pressMinus('mtr')"></span>
            <div class="flex justify-content-between align-items-center">
                <span>
                    <span class="bg-white px-2" style="font-size: 32px;">{{question?.answer?.meters||0}}</span>
                </span>
                <span class="ml-2">mtr</span>
            </div>
            <span class="pi pi-plus-circle cursor-pointer" (click)="pressPlus('mtr')" style="font-size: 40px;"></span>
        </div>
        <div class="py-1">

        </div>
        <div class=" question-card mx-0 flex  align-items-center justify-content-around p-2">
            <span style="font-size: 40px;" class="pi pi-minus-circle cursor-pointer"  (click)="pressMinus('cms')"></span>
            <div class="flex justify-content-between align-items-center">
                <span>
                    <span class="bg-white px-2" style="font-size: 32px;">{{question?.answer?.centimeter||0}}</span>
                </span>
                <span class="ml-2">cms</span>
            </div>
            <span class="pi pi-plus-circle cursor-pointer" (click)="pressPlus('cms')" style="font-size: 40px;"></span>
        </div>
    </div>
    <div class="text-sm absolute mx-2" style="bottom: 20px;" >
        <p class="text-gray-600 text-sm">
            <strong>HINT:</strong> {{question['question-master'].questionHint}}
        </p>
    </div>
</div>