.next-button-outer{
    // clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background: linear-gradient(90deg, rgba(86,128,233,1) 53%, rgba(136,96,208,1) 72%);
    height: 44px;
    width: 119px;
    border-radius: 8px;
    cursor: pointer;
}
.next-button-outer:hover{
    opacity: 0.85;
}
.next-button{
    font-weight: 600;
    color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 44px;
    text-align: center;
    align-content: center;
    font-size: 22px;
}