<div class="shadow-2 border-round w-full lg:w-4 mx-auto pharmacy-detail-page">
    <app-header />
    <div class="container">

        <div class="shadow-1 my-3 mx-2 bg-white border-round border-1 border-transparent transition-all transition-duration-200"
            (contextmenu)="onContextMenu($event)">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                <div class="w-3rem text-center pt-3 bg-gray-300 flex-shrink-0 border-round"
                    style="height: 50px;width: 50px;">
                    SP
                </div>

                <div class="flex-1 flex flex-column gap-1">
                    <span class="font-bold">
                        Sita Pharmacy
                    </span>
                    <div class="flex align-items-center gap-2 py-2">
                        <i class="pi pi-map-marker text-sm"></i>
                        <span class="text-sm">
                            3/5 mohali punjab
                        </span>
                    </div>
                    <div>54</div>
                </div>
                <span class="text-700 ml-5 capitalize">
                </span>
            </div>
        </div>
        <div>
            <div class="card mx-3 bg-periwinkle">
                   <span class="p-3"></span>
            </div>
        </div>
        <div>
            <h4>Products</h4>
        </div>
        <div class=" my-5">
            <div class="m-0 p-0  p-3 flex gap-2 w-full flex flex-wrap justify-content-around">
                <span *ngFor="let product of data"
                    class=" w-3 cursor-pointer border-round border-1 border-transparent transition-all transition-duration-200"
                    (contextmenu)="onContextMenu($event)" routerLink="/product-detail">
                    <div class="flex justify-content-center flex-wrap p-2 align-items-center gap-3">
                        <div class="shadow-1 text-center pt-3 bg-gray-300 flex-shrink-0 border-round"
                            style="height: 50px;width: 50px;">
                            {{
                            product.name|nameSorter
                            }}
                        </div>
                        <div class="flex-1 flex flex-column gap-1">
                            <span class="text-center text-sm">
                                {{ product.name }}
                            </span>
                        </div>
                    </div>
                </span>
            </div>

            <p-contextMenu #cm [model]="items" (onHide)="onHide()">
                <ng-template pTemplate="item" let-item>
                    <a pRipple class="flex align-items-center p-menuitem-link">
                        <span class="item.icon"></span>
                        <span class="ml-2">{{ item.label }}</span>
                        <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
                        <span *ngIf="item.shortcut"
                            class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">
                            {{ item.shortcut }}
                        </span>
                        <i *ngIf="item.items" class="pi pi-angle-right ml-auto"></i>
                    </a>
                </ng-template>
            </p-contextMenu>
        </div>
    </div>
</div>