.pharmacy-detail-page{
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    background-color: var(--periwinkle-color);
}
.pharmacy-detail-page::-webkit-scrollbar{
    width: 8px;
    color: aliceblue;
}
.pharmacy-detail-page::-webkit-scrollbar-thumb{
    background-color: rgb(211, 208, 208);
}
@media screen and (max-width: 370px) {
    .pharmacy-detail-page{
       
       padding: 0px !important;
       .container{
        margin: 8px;
        padding: 0px !important;
       }
    }
}