<div class="shadow-2 border-round w-full lg:w-4 mx-auto boarding-page">
    <div class="card border-none shadow-none flex justify-content-center">
        @switch (step) {
           @case (1) {
            <p-card header="Find shops near you" subheader="" styleClass="shadow-none">
                <ng-template pTemplate="header">
                    <img alt="Card" class="px-3"  loading="lazy"  src="assets/images/sample-image.png" />
                </ng-template>
                <p>
                    It's is to find shops that is near to your location with just one tap.
                </p>
                <div class="steps">
                    <div class="step-1 bg-primary"></div>
                    <div class="step-2"></div>
                    <div class="step-3"></div>
                </div>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 align-items-center mt-1">
                        <p-button styleClass="started-button" label="Get Started" severity="success" (click)="changeStep()" class="w-full" />
                        <span  class="cursor-pointer" (click)="skip()">skip</span>
                    </div>
                </ng-template>
            </p-card>
           }
           @case (2) {
            <p-card header="Best Product" subheader="" styleClass="shadow-none">
                <ng-template pTemplate="header">
                    <img alt="Card"  loading="lazy" class="px-3" src="assets/images/sample-image.png" />
                </ng-template>
                <p>
                    It's is to find shops that is near to your location with just one tap.
                </p>
                <div class="steps">
                    <div class="step-1"></div>
                    <div class="step-2 bg-primary"></div>
                    <div class="step-3"></div>
                </div>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 align-items-center mt-1">
                        <p-button label="Get Started" severity="success" (click)="changeStep()" class="w-full" styleClass="started-button" />
                        <span  class="cursor-pointer" (click)="skip()">skip</span>
                    </div>
                </ng-template>
            </p-card>
           }
           @case (3) {
            <p-card header="Best shops" subheader="" styleClass="shadow-none">
                <ng-template pTemplate="header">
                    <img alt="Card" class="px-3" loading="lazy" src="assets/images/sample-image.png" />
                </ng-template>
                <p>
                    It's is to find shops that is near to your location with just one tap.
                </p>
                <div class="steps">
                    <div class="step-1"></div>
                    <div class="step-2"></div>
                    <div class="step-3 bg-primary"></div>
                </div>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 align-items-center mt-1">
                        <p-button styleClass="started-button" label="Get Started" severity="success" (click)="changeStep()" class="w-full" />
                        <span class="cursor-pointer" (click)="skip()">skip</span>
                    </div>
                </ng-template>
            </p-card>
           }
        }
    </div>
</div>