<div class="shadow-2 border-round w-full lg:w-4 mx-auto product-detail-page">
  <app-header />
  <div
    class="container question-card overflow-hidden relative p-2 flex flex-column justify-content-between"
  >
    <div class="">
      <div class="px-3 my-3">
        <span class="text-3xl">
          We are at the <span class="font-bold">Dubai Mall Carrefour </span>for
          surveying the following products.
        </span>
      </div>
      <div class="w-full flex flex-wrap images-product px-4">
        <div class="w-6 p-2 text-center relative">
          <img
            (click)="openPreview('assets/images/p1.png')"
            height="180"
            class="border-2 border-round p-2 shadow-1 border-gray-300 object-fit"
            src="assets/images/p1.png"
          />
        </div>
        <div class="w-6 p-2 text-center relative">
          <img
            (click)="openPreview('assets/images/p2.png')"
            height="180"
            class="border-2 border-round p-2 shadow-1 border-gray-300 object-fit"
            src="assets/images/p2.png"
          />
        </div>
        <div class="w-6 p-2 text-center relative">
          <img
            height="180"
            (click)="openPreview('assets/images/p3.png')"
            class="border-2 border-round p-2 shadow-1 border-gray-300 object-fit"
            src="assets/images/p3.png"
          />
        </div>
        <div class="w-6 p-2 text-center relative">
          <img
            height="180"
            (click)="openPreview('assets/images/p4.png')"
            class="border-2 border-round p-2 shadow-1 border-gray-300 object-fit"
            src="assets/images/p4.png"
          />
        </div>
      </div>
    </div>
    <div
      class="w-full overflow-hidden flex justify-content-center absolute bottom-0 py-2 px-2"
    >
      <div
        class="text-center bg-linear-blue justify-content-center border-round shadow-2 p-3 mb-2 cursor-pointer"
        (click)="navigate('/product-survey-info')"
      >
        <div>
          <span>Start Survey</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-image-light-box
  [visible]="visible"
  [imageUrl]="selectedImage"
  (close)="hideLightBox()"
/>
