<div class="my-3">
    <p>
        Click a front view of the overall display
    </p>
    <div class="flex justify-content-around align-items-center">
        <label for="file-1" class="cursor-pointer">
            @if(question.frontViewFile){
                <img [src]="question.frontViewImage" class="border-1 border-round p-2 shadow-1 border-gray-300" height="70" width="80" />
            }@else {
                <img src="assets/images/camera.png" class="border-1 border-round p-2 border-gray-300" height="70" width="80" />
            }
            <input (change)="selectFile('front',$event.target)" type="file" id="file-1" class="hidden" />
        </label>
        <div class="box-label-opacity">
            <img src="assets/images/sample-image.png" class=" border border-round" height="70" width="80" />
            <div>
                <span class="left-0 pl-1 pt-1" style="font-size: 10px;">Sample Image</span>
            </div>
        </div>
    </div>

    <p>
        Click a side view of the overall display.
    </p>
    <div class="flex justify-content-around align-items-center">
        <label for="file-2" class="cursor-pointer">
            @if(question.sideViewFile){
                <img [src]="question.sideViewImage" class="border-1 border-round p-2 shadow-1 border-gray-300" height="70" width="80" />
            }@else {
                <img src="assets/images/camera.png" class="border-1 border-round p-2 shadow-1 border-gray-300" height="70" width="80" />
            }
            <input (change)="selectFile('side',$event.target)" type="file" id="file-2" class="hidden" />
        </label>
        <div class="box-label-opacity">
            <img src="assets/images/sample-image.png" class="border border-round" height="70" width="80" />
            <div>
                <span class="left-0 pl-1 pt-1" style="font-size: 10px;">Sample Image</span>
            </div>
        </div>
    </div>
</div>