<div class="shadow-2 border-round w-full mx-auto product-detail-page">
    <app-header />
    <div class="container relative question-card p-2 flex flex-column justify-content-between">
        <div>
            <div class="px-2 my-3 md:mx-2">
                <span class="text-3xl">
                    Please go the <span class="font-bold ">Skincare</span> section in the store where <span class="font-bold ">Body Lotions</span> are kept
                </span>
            </div>
            
        </div>
       <div class="absolute bottom-0">
        <div class="px-3 md:mx-2">
            <p class="text-sm text-gray-600">
                Please click below only once you have reached the section to start the survey.
            </p>
        </div>
        <div class="mx-7 px-2 mb-3">
            <div  class="mx-5 flex bg-linear-blue justify-content-center border-round  shadow-2 p-3 cursor-pointer" (click)="navigate('/product-survey')">
                <div>
                <span>Let's Start</span></div>
            </div>
        </div>
       </div>
    </div>
</div>