<div class="shadow-2 border-round w-full lg:w-4 mx-auto product-detail-page">
    <app-header />
    <div class="container p-2 mb-5">

        <div class="px-3 my-3 md:mx-5">
            <span class="text-2xl">
                Please go the <span class="font-bold ">Skincare</span> section in the store where <span class="font-bold ">Body Lotions</span> are kept
            </span>
        </div>
        <div class="w-full flex flex-wrap images-product">
           
        </div>
        <div class="px-3 my-3 md:mx-5">
            <p>
                Please click below only once you have reached the section to start the survey.
            </p>
        </div>
        <div class="mx-7 my-5 py-2 px-2">
            <div  class="mx-5 flex bg-linear-blue justify-content-center border-round  shadow-2 p-3 mb-2 cursor-pointer" (click)="navigate('/product-survey')">
                <div>
                <span>Let's Start</span></div>
            </div>
        </div>
    </div>
</div>