<p-toolbar 
styleClass="shadow-2 header-container " [style]="{'background-color':'var(--blueberry-color)'}" >
<ng-template pTemplate="start">
    <span class="pi pi-bars text-white"></span>
</ng-template>
<ng-template pTemplate="center">
    <div class="flex flex-wrap align-items-center gap-1 font-bold text-white">
        <span class="pi pi-plus" style="color: rgb(255, 255, 255);font-weight: 600;"></span>DiSA
    </div>
</ng-template>
<ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
        <i class="pi pi-user text-white" style="font-size: 1rem"></i>
    </div>
</ng-template>
</p-toolbar>
