<p-toolbar 
styleClass="shadow-2" 
[style]="{ }">
<ng-template pTemplate="start">
    <span class="pi pi-bars"></span>
</ng-template>
<ng-template pTemplate="center">
    <div class="flex flex-wrap align-items-center gap-1">
        <span class="pi pi-plus" style="color: rgb(7, 110, 29);font-weight: 600;"></span>DiSA
    </div>
</ng-template>
<ng-template pTemplate="end">
    <!-- <div class="flex align-items-center gap-2">
        <i class="pi pi-bell p-text-secondary" pBadge style="font-size: 1rem" severity="danger"></i>
    </div> -->
</ng-template>
</p-toolbar>
