.boarding-page{
    height: 100vh;
    margin: 0;

    .steps{
        margin-top: 30px;
        display: flex;
        margin-left: 5px;
        .step-1,.step-2,.step-3{
           height: 8px;
           width: 8px;
           margin-right: 12px;
           border-radius: 4px;
           background-color: #b6b3b3;
        }
    }
}

@media screen and (max-width: 370px) {
    .boarding-page .started-button{
       min-width: 150px;
       width: 150px;
    }
}