<div class="shadow-2 border-round w-full lg:w-4 mx-auto product-survey-page">
    <div class="">
        <app-header></app-header>
    </div>
    @if(isCompleted){
    <div class="container">
        <div class="my-4">
            <div class="text-center">
                <span class="pi pi-star text-3xl"></span>
            </div>
        </div>
        <h2 class="text-center">Completed</h2>
        <div class="my-4">
            <p class="text-center">Thank You</p>
        </div>
        <div class="mt-5 mb-2">
            <div class="flex justify-content-center">
                <button pButton label="Go to Product" class="w-6  bg-linear-blue  border-round"
                    (click)="navigate('/product-detail')"></button>
            </div>
        </div>
    </div>
    }@else {
    <div class="container p-4">
        <div class="my-3 mx-2 transition-all transition-duration-200">
            <div class="flex justify-content-between">
                @for (q of questions; track $index) {
                    <span class="bg-gray-600 stepper flex flex-1" [class.done]="q.answer!==undefined"></span>
                 }
            </div>
            <div class=" p-2 gap-3">


                @if (questions.length) {
                <div>
                    <div>
                        <p [innerHTML]="questions[step].quetion"></p>
                    </div>

                    <ng-container>
                       @switch (questions[step].type) {
                        @case ('start') {
                            <app-question-start [question]="questions[step]" (answer)="answer($event)"></app-question-start>
                        }
                        @case ('meter') {
                            <app-question-meter [question]="questions[step]" (answer)="answer($event)"></app-question-meter>
                        }
                        @case ('multi-select-image') {
                            <app-question-multi-select-image  [question]="questions[step]" 
                            (answer)="answer($event)" (openPreview)="openPreview($event)"></app-question-multi-select-image>
                        }
                        @case ('meter-image') {
                            <app-question-meter-image [question]="questions[step]" (answer)="answer($event)"></app-question-meter-image>
                        }
                        @case ('meter-count') {
                            <app-question-meter-count [question]="questions[step]" 
                            (answer)="answer($event)" (openPreview)="openPreview($event)"></app-question-meter-count>
                        }
                        @case ('multi-select-question') {
                            <app-question-multi-select-question [question]="questions[step]" (answer)="answer($event)"></app-question-multi-select-question>
                        }
                        @case ('question-image') {
                            <app-question-image [question]="questions[step]" (answer)="answer($event)"></app-question-image>
                        }
                       }
                    </ng-container>
                    
                </div>
                }
                
            </div>
        </div>
        <div class="mt-5 mb-5">
            <div class="flex justify-content-between">
                <div>
                    @if (step>0) {
                        <app-back-button [disabled]="questions|checkAnswer:step:images" 
                        (click)="back()"></app-back-button>
                    }
                </div>
                <div>
                    @if (!isCompleted) {
                      <app-next-button [disabled]="questions|checkAnswer:step:images" 
                      (click)="changeStep()"></app-next-button>
                    }
                </div>
                   
            </div>
        </div>
    </div>
    }
</div>

<app-image-light-box [visible]="visible" [imageUrl]="selectedImage" (close)="hideLightBox()" />