<div class="shadow-2 border-round w-full lg:w-4 mx-auto product-survey-page">
    <div class="">
        <app-header></app-header>
    </div>
    <div class="container relative question-card">
        <div class="p-2 transition-all transition-duration-200 scrolling-container overflow-auto">
            <app-custom-progress [total]="questions.length" [value]="questions|answerLength" />
            <div class=" p-2 gap-3 relative">
                @if (questions.length) {
                <div class="">
                    <div class="mx-2">
                        <p class="text-2xl q-text"
                            [innerHTML]="questions[step]['question-master'].description|replaceWords:questions[step].sku:questions[step].product:{sectionName}">
                        </p>
                    </div>

                    <div class="question-inner-box">
                     @switch (questions[step]['question-master'].screenType) {
                        @case ('start') {
                        <app-question-start [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)" (validation)="setValidation($event)"></app-question-start>
                        }
                        @case ('meter') {
                        <app-question-meter [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-meter>
                        }
                        @case ('multi-select-image') {
                        <app-question-multi-select-image [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-multi-select-image>
                        }
                        @case ('meter-image') {
                        <app-question-meter-image [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)" (validation)="setValidation($event)"></app-question-meter-image>
                        }
                        @case ('meter-image-second') {
                        <app-question-meters-second [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-meters-second>
                        }
                        @case ('single-question-yes-no') {
                        <app-question-single-yes-no [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)" (validation)="setValidation($event)"></app-question-single-yes-no>
                        }
                        @case ('meter-count') {
                        <app-question-meter-count [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-meter-count>
                        }
                        @case ('multi-select-question') {
                        <app-question-multi-select-question [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-multi-select-question>
                        }
                        @case ('question-image') {
                        <app-question-image [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-image>
                        }
                        @case ('question-text') {
                        <app-question-text [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-text>
                        }
                        @case ('question-info') {
                        <app-question-information [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-information>
                        }
                        @case ('gondola-fsu-selection') {
                        <app-question-gondola-fsu [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-gondola-fsu>
                        }
                        @case ('question-complete') {
                        <app-question-complete></app-question-complete>
                        }
                        }
                    </div>

                </div>
                }
                @if (errors) {
                  <p class="absolute text-center text-red-600" style="font-size: 12px;right:15px;bottom:50px;">{{errors}}</p>
                }
                <div class="mx-1 bottom-buttons" style="width: 98%;">
                    <div class="flex justify-content-between">
                        <div>
                            @if (step>0) {
                            <app-back-button [disabled]="questions|checkAnswer:step:images"
                                (click)="back()"></app-back-button>
                            }
                        </div>
                        <div>
                            @if (!isCompleted) {
                            <app-next-button [disabled]="questions|checkAnswer:step:images"
                                (click)="changeStep($event)"></app-next-button>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-image-light-box [visible]="visible" [imageUrl]="selectedImage" (close)="hideLightBox()" />

<p-confirmDialog />