<div class="shadow-2 border-round w-full lg:w-4 mx-auto product-survey-page">
    <div class="">
        <app-header></app-header>
    </div>
    @if(isCompleted){
    <div class="container question-card">
        <div class="my-4">
            <div class="text-center">
                <span class="pi pi-star text-3xl"></span>
            </div>
        </div>
        <h2 class="text-center">Completed</h2>
        <div class="my-4">
            <p class="text-center">Thank You</p>
        </div>
        <div class="mt-5 mb-2">
            <div class="flex justify-content-center">
                <button pButton label="Go to Product" class="w-6  bg-linear-blue  border-round"
                    (click)="navigate('/product-detail')"></button>
            </div>
        </div>
    </div>
    }@else {
    <div class="container relative question-card">
        <div class="p-2 transition-all transition-duration-200 scrolling-container overflow-auto">
            <!-- <div class="flex justify-content-between">
                @for (q of questions; track $index) {
                    <span class="bg-gray-600 stepper flex flex-1" [class.done]="q.answer!==undefined"></span>
                 }
                </div> -->
            <app-custom-progress [total]="questions.length" [value]="questions|answerLength" />
            <div class=" p-2 gap-3">
                @if (questions.length) {
                <div>
                    <div>
                        <p class="text-2xl q-text" [innerHTML]="questions[step].quetion"></p>
                    </div>

                    <div class="question-inner-box">
                        @switch (questions[step].type) {
                        @case ('start') {
                        <app-question-start [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-start>
                        }
                        @case ('meter') {
                        <app-question-meter [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-meter>
                        }
                        @case ('multi-select-image') {
                        <app-question-multi-select-image [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-multi-select-image>
                        }
                        @case ('meter-image') {
                        <app-question-meter-image [question]="questions[step]"
                            (answer)="answer($event)"></app-question-meter-image>
                        }
                        @case ('meter-count') {
                        <app-question-meter-count [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-meter-count>
                        }
                        @case ('multi-select-question') {
                        <app-question-multi-select-question [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-multi-select-question>
                        }
                        @case ('question-image') {
                        <app-question-image [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-image>
                        }
                        @case ('question-text') {
                        <app-question-text [question]="questions[step]" (answer)="answer($event)"
                            (openPreview)="openPreview($event)"></app-question-text>
                        }
                        }
                    </div>

                </div>
                }

            </div>
        </div>
        <div class="p-4 bottom-0 absolute" style="width: 98%;">
            <div class="flex justify-content-between">
                <div>
                    @if (step>0) {
                    <app-back-button [disabled]="questions|checkAnswer:step:images" (click)="back()"></app-back-button>
                    }
                </div>
                <div>
                    @if (!isCompleted) {
                    <app-next-button [disabled]="questions|checkAnswer:step:images"
                        (click)="changeStep()"></app-next-button>
                    }
                </div>

            </div>
        </div>
    </div>
    }
</div>

<app-image-light-box [visible]="visible" [imageUrl]="selectedImage" (close)="hideLightBox()" />