.product-survey-page {
    margin: 0;
    background-color: var(--winkle-color);
    height: 100vh;
}

.product-survey-page .container::-webkit-scrollbar {
    width: 6px;
    color: aliceblue;
}


.product-survey-page .container::-webkit-scrollbar-thumb {
    background-color: rgb(211, 208, 208);
}

.product-survey-page .container .scrolling-container::-webkit-scrollbar {
    width: 6px;
    color: aliceblue;
}
.product-survey-page .container .scrolling-container::-webkit-scrollbar-thumb {
    background-color: rgb(211, 208, 208);
}

.product-survey-page .container{
    height: calc(100vh - 105px);
    overflow-y: auto;
}


@media screen and (max-width: 400px) {
    .product-survey-page {

        padding: 0px !important;

        .container {
            margin: 8px;
            .q-text{
                font-size: 20px !important;
            }
        }
    }
}

.thumbs-icon {
    font-size: 54px;

    &.red {
        color: #ff0000;
    }

    &.green {
        color: #22aa07;
    }
}

.stepper {
    height: 5px;
    border-radius: 3px;
    padding-inline: 10px;
    margin-inline: 2px;
    margin-top: 5px;
    &.done {
        background-color: #22aa07 !important;
    }
}

.answer-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-inline: 1px;
    margin-bottom: 2px;
    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: contain;
    }

    label {
        display: flex;
        justify-content: center;
        padding: 15px 0px;
        align-content: cente
    }
}