.login-page{
    height: 90vh;
    margin: 0;
    form{
        background-color: var(--periwinkle-color);
    }
}
@media screen and (max-width: 370px) {
    .login-page .check-area{
        font-size: 14px;
    }
}