<div class="my-3">
    <div class="mx-2 my-4">
        <div class="flex w-full gap-2">
            <img height="70" class="w-3 pr-1 border-1 border-round p-2 shadow-1 border-gray-300" width="40" src="/assets/images/p1.png" />
            <img height="70"  class="w-3 border-1 border-round p-2 shadow-1 border-gray-300"  src="/assets/images/p2.png" />
            <img height="70"  class="w-3 border-1 border-round p-2 shadow-1 border-gray-300 px-1"  src="/assets/images/p3.png" />
            <img height="70"  class="w-3 border-1 border-round p-2 shadow-1 border-gray-300"  src="/assets/images/p4.png" />
        </div>
    </div>
    <div class="mx-2">
        <div class=" flex align-items-center justify-content-around mb-3 p-2">
            <span style="font-size: 40px;"  (click)="pressMinus('mtr')" class="cursor-pointer pi pi-minus-circle"></span>
            <div class="flex justify-content-between align-items-center">
                <span>
                    <span class="bg-white px-2" style="font-size: 32px;">{{question?.meters}}</span>
                </span>
                <span class="ml-2">mtr</span>
            </div>
            <span class="pi pi-plus-circle cursor-pointer"  (click)="pressPlus('mtr')"  style="font-size: 40px;"></span>
        </div>
        <div class=" flex align-items-center justify-content-around p-2">
            <span style="font-size: 40px;"  (click)="pressMinus('cms')" class="pi pi-minus-circle"></span>
            <div class="flex justify-content-between align-items-center">
                <span>
                    <span class="bg-white px-2" style="font-size: 32px;">{{question?.centimeter}}</span>
                </span>
                <span class="ml-2">cms</span>
            </div>
            <span class="pi pi-plus-circle cursor-pointer"  (click)="pressPlus('cms')"  style="font-size: 40px;"></span>
        </div>
    </div>
    <p>
        Click here to know how to measure the shelve space.
    </p>
</div>