<div class="my-3">
    <div [class]="question.products?.length>1? 'my-5':''">
        <div class="flex w-full gap-2 justify-content-center">
            @if(question.products?.length>1){
                @for(image of question?.products;track $index){
                    <div class="relative w-4">
                        <img  height="130" class="w-full border-1 border-round p-2 shadow-1 border-gray-300" [src]="'/assets/images/'+image" />
                        <span class="absolute pi pi-search-plus text-gray-600 cursor-pointer"
                            (click)="openPreview.emit('assets/images/'+image)"
                            style="right: 13px;bottom: 10px;"></span>
                    </div>
                    
                }
            }
            @else{
                @for(image of question?.products;track $index){
                    <div class="relative w-5">
                        <img  height="185"  class="w-full border-1 border-round p-2 shadow-1 border-gray-300" [src]="'/assets/images/'+image" />
                        <span class="absolute pi pi-search-plus text-gray-600 cursor-pointer"
                            (click)="openPreview.emit('assets/images/'+image)"
                            style="right: 13px;bottom: 10px;"></span>
                    </div>
                    
                }
            }
         </div>
    </div>
    <div class="mx-2" [class]="question.products?.length>1?'my-5':'mb-2'">
        <div class="text-center mx-3 pt-5">
            <input
            class="w-full"
            placeholder="Section Name"
            [(ngModel)]="value"
            (ngModelChange)="change()"
            pInputText
             />
        </div>
    </div>
    <div class="w-full flex mt-3 align-items-start">
        <div class="w-4">
            <div class="flex justify-content-center align-items-center ">
                <label for="file-2" class="cursor-pointer">
                    @if(question.sideViewFile){
                        <img [src]="question.sideViewImage"  class="border-1 border-round p-2 shadow-1 border-gray-300" height="60" width="80" />
                    }@else {
                        <img src="assets/images/camera.svg" class="border-1 border-round p-2 shadow-1 border-gray-300" height="40" width="60" />
                    }
                    <input (change)="selectFile('',$event.target)" type="file" id="file-2" class="hidden" />
                </label>
            </div>
            <div class="text-center">
                <span class="left-0 pl-1 pt-1 cursor-pointer" (click)="openPreview.emit('assets/images/sample-image.png')" style="font-size: 10px;">View Sample Image</span>
        
            </div>
        </div>
        <div class="w-8">
            <p class="text-sm text-gray-600 mt-1">
                Click a picture capturing the complete section name.
            </p>
        </div>
    </div>
</div>