@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    padding: 0px;
}

:root {
    --blueberry-color: #5680E9;
    --skyblue-color: #84CEEB;
    --bluejeans-color: #f8f8f8;
    --periwinkle-color: #ffffff;
    --amethyst-color: #8860D0;
}

.home-page .p-knob-text {
    font-size: 32px !important;
}

.bg-periwinkle{
    background-color: var(--periwinkle-color);
}

.bg-linear-blue{
    font-weight: 600;
    color: #FFFFFF;
    background: rgb(86,128,233);
    background: linear-gradient(90deg, rgba(86,128,233,1) 53%, rgba(136,96,208,1) 72%);
}