@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    padding: 0px;
}

:root {
    --blueberry-color: #5680E9;
    --skyblue-color: #84CEEB;
    --bluejeans-color: #5AB9EA;
    --periwinkle-color: #C1C8E4;
    --amethyst-color: #8860D0;
}

.home-page .p-knob-text {
    font-size: 32px !important;
}