<div class="my-3">
    <div class="mx-2">
        <div class="flex w-full flex-wrap">
            
            <div class="w-6 px-3 py-1">
                <div class="relative">
                    <img class="w-full" width="40" src="/assets/images/p1.png" />
                    <span class="absolute pi pi-search-plus text-gray-600 " style="right: 10px;bottom: 10px;"></span>
                </div>
                <div class="flex justify-content-around">
                    <span class="border p-2 bg-white pi pi-check"></span>
                    <span class="border p-2 bg-white pi pi-times"></span>
                </div>
            </div>
                        
            <div class="w-6 px-3 py-1">
                <div class="relative">
                    <img class="w-full" width="40" src="/assets/images/p2.png" />
                    <span class="absolute pi pi-search-plus text-gray-600 " style="right: 10px;bottom: 10px;"></span>
                </div>
                <div class="flex justify-content-around">
                    <span class="border p-2 bg-white pi pi-check"></span>
                    <span class="border p-2 bg-white pi pi-times"></span>
                </div>
            </div>
                        
            <div class="w-6 px-3 py-1">
                <div class="relative">
                    <img class="w-full" width="40" src="/assets/images/p3.png" />
                    <span class="absolute pi pi-search-plus text-gray-600 " style="right: 10px;bottom: 10px;"></span>
                </div>
                <div class="flex justify-content-around">
                    <span class="border p-2 bg-white pi pi-check"></span>
                    <span class="border p-2 bg-white pi pi-times"></span>
                </div>
            </div>
                        
            <div class="w-6 px-3 py-1">
                <div class="relative">
                    <img class="w-full" width="40" src="/assets/images/p4.png" />
                    <span class="absolute pi pi-search-plus text-gray-600 " style="right: 10px;bottom: 10px;"></span>
                </div>
                <div class="flex justify-content-around">
                    <span class="border p-2 bg-white pi pi-check"></span>
                    <span class="border p-2 bg-white pi pi-times"></span>
                </div>
            </div>

        </div>
    </div>
</div>