<div class="my-3">
    <div class="mx-2">
        <div class=" flex align-items-center justify-content-between mb-3 p-2">
            <div class="relative">
                <img height="100" width="w-full" src="/assets/images/p3.png" />
                <span class="absolute pi pi-search-plus text-gray-600 " style="right: 10px;bottom: 10px;"></span>
            </div>
            <span style="font-size: 40px;" class="pi pi-minus-circle"></span>
            <div class="flex justify-content-between align-items-center">
                <span>
                    <span class="bg-white px-2" style="font-size: 40px;">{{counts}}</span>
                </span>
            </div>
            <span class="pi pi-plus-circle" style="font-size: 40px;"></span>
        </div>
    </div>
    <div>
        <div>
             <span class="font-bold">Note</span>: Only count front row display and not the units placed behind the first row
        </div>
    </div>
    <p>
        Click a front view of the facings displayed on the shelf.
    </p>
    <div class="flex justify-content-around align-items-center">
        <img src="assets/images/camera.png" height="30" width="30" />
        <div class="box-label-opacity relative ">
            <img src="assets/images/sample-image.png" class="opacity-70" height="70" width="80" />
            <span class="left-0 pl-2 pt-2 absolute">Sample Image</span>
        </div>
    </div>
</div>